html, body{
    height: 100%;
}

body{
    border: solid ;
    min-height: 100%;
    margin:0px;
    border-width: thick;

}
/*
Homepage Styling
 */
/*<editor-fold> Container and major portion CSS below*/
.homepagecontainter{
    min-height: 100%;
    display: grid;
    width: 100%;
    height: 100%;
    padding: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:50px 5fr 1fr;
    grid-template-areas: "top_nav top_nav top_nav"
                        "side_nav body body"
                        "footer footer footer";
    color: white;
}
#sideNav{
    background-color: #212121;
    grid-area: side_nav;
    grid-template-areas: 'accordion'
                        'nextStuff';
    grid-template-rows: 1fr 1fr;
}

#nextStuff{
    grid-area: nextStuff;
    background-color: white;
}
#maintenanceItemList{
    height: 300px;
    color: black;
}
#accordion{
    grid-area: accordion;
}
.top_nav{
    background-color: #212121;
    grid-area: top_nav;
    color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'topBanner topBanner topBanner topBanner'
            "createDetachment finished showOpsCalendar closeOpsCalendar";
}

#topBanner{
    background-color: #909090;
    color: white;
    text-align: center;
    grid-area: topBanner;
    font-size: 25px;
}
.body{
    color: white;
    display: grid;
    background-color: #212121;
    grid-area: body;
    grid-template-rows: 234px 35px 1fr;
    border: solid;
    border-color: #909090;
    grid-template-areas: "squadron_emblem"
                        "filters"
                        "calendar";
                        /*"buno_information";*/
}

#filters{
    grid-area: filters;
    height: 50px;
    border: solid;
    border-width: 1px;
    border-color: #909090;
}

/*</editor-fold>*/

/* <editor-fold> Area is for the calendar styling */


#btnGenerateCalendar{
    width: 100%;
    height: 100%;
}
#calendar{
    display: grid;
    grid-area: calendar;
    grid-template-columns: 100px auto;
    grid-template-rows: 50px auto 1fr;
    grid-template-areas: "buno_label calendar_display"
    "opsCalendarLabel opsCalendar"
    "buno_display mx_display";
    /*overflow-x: scroll;*/
    overflow-y: scroll;
    background-color: #212121;
    color: white;
    border:solid;
    border-color: black ;
}
#opsCalendarLabel{
    grid-area: opsCalendarLabel;
    display:none;
}
#opsCalendarspinners{
    display:none;
    flex-direction: row;
    color: white;
    overflow-x: scroll;
}
#mxDisplay{
    color: white;
    background-color: #212121;
    grid-area: mx_display;
    display: inline-block;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: scroll;
}
#buno_display{
    color: white;
    grid-area: buno_display;
    background-color: #212121;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    width: 0.5fr;
}
#buno_label{
    color: white;
    width: 94px;
    height: 50px;
    border: none;
    border-color:#2E9CCA;
    grid-area: buno_label;
    background-color: #212121;
    padding-bottom: 0px;
    text-align: center;
    z-index: 0;
}
.calendarElement{
    color: white;
    height: 50px;
    width: 100px;
    background-color: darkgreen;
    border: solid;
    border-color:black;

    display: inline-block;
    text-align: center;
    /*background-image: radial-gradient(darkgreen 20%,#00887A 20%,#2D5F5D 20%);*/
}
.pastDays{
    width: 100px;
    background-color: #404040;
    height: 50px;
    border: solid;
    border-color:black;
    text-align: center;
    color: white;
    opacity: 0.5;
}
.weekend{
    width: 100px;
    background-color: grey;
    height: 50px;
    border: solid;
    border-color:black;
    text-align: center;
    color: white;
}
#calendar_display{
    display: flex;
    grid-area: calendar_display;
    flex-direction: row;
    color: white;
}
.mxCalendarElement{
    height: 50px;
    width: 100px;
    color: black;
    background-color: tan;
    border: solid;
    border-color:black;
    display: inline-block;
    text-align: center;
    /*background: repeating-linear-gradient(
    45deg,
    lightcoral,
    lightcoral 10px,
    lightgreen 10px,
    lightgreen 20px
    );*/
}
.longMxCalendarElement{
    height: 50px;
    width: 100px;
    background-color: crimson;
    border: solid;
    border-color:#505050;
    display: inline-block;
    color: white;
    text-align: center;
}
.emptySpan{
    display: inline-block;
}
.sortable-placeholder{
    background-color: green;
    display: inline-block;
    content: url("arrow.png");
    width: 100px;
    height: 100px;
}
.calendarDate{
    width: 100px;
    background-color: #404040;
    height: 50px;
    border: solid;
    border-color:black;
    text-align: center;
    color: white;
}
.bunodiv{
    display: block;
    background-color: #404040;
    border: solid;
    border-color:#909090;
    height: 50px;
    color: white;
    text-align: center;
    vertical-align: middle;
    border-radius: 25px;
}
.bunodiv:hover{
    cursor: pointer;
}
/*</editor-fold> */

/* <editor-fold>   BELOW IS THE CSS FOR THE DATA PORTION OF THE HOMEPAGE*/
.squadron_emblem{
    display: grid;
    min-height: 100px;
    background-color: #212121;
    grid-area:squadron_emblem;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: .25fr;
    grid-template-areas: "squadron_emblem_picture squadron_data";
    color: white;
    padding: 0px;
    border: solid;
    border-color: #909090;
    border-width: 1px;
}
#sqd_image{
    border: solid;
    border-color:black;
    color: white;
    max-height: 230px;
    max-width: 230px;
    width: auto;
    height: auto;
    border: 12px;
}
.todayDate{
    width: 100px;
    background-color: lightseagreen;
    height: 50px;
    border: solid;
    border-color:black;
    text-align: center;
    color: white;
}
.squadron_emblem_picture{
    grid-area: squadron_emblem_picture;
    max-height: 230px;
    max-width: 230px;
    width: auto;
    height: auto;
}
.squadron_data{
    display: grid;
    grid-area: squadron_data;
    grid-template-areas: "squadron_dropdown assigned_aircraft mc_aircraft_today"
                            "aircraft_opsneed aircraft_det aircraft_in_mx ";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    border: none;
    border-color: #909090;
    border-width: 1px;
}
.mc_aircraft_today{
    grid-area: mc_aircraft_today;
    color: white;
    text-align: center;
}
.squadron_dropdown{
    background-color: steelblue;
    grid-area: squadron_dropdown;
    color: white;
}
#squadron_select{
    grid-area: squadron_dropdown;
    background-color: #212121;
    color: white;
    height: 100%;
    width: 100%;
    font-size: 20px;
}
.assigned_aircraft{
    grid-area: assigned_aircraft;
    color: white;
    text-align: center;
}
.aircraft_opsneed{
    text-align: center;
    grid-area: aircraft_opsneed;
    color: white;

}
.aircraft_det{
    grid-area: aircraft_det;
    color: white;
    text-align: center;
}
.footer{
    background-color: #212121;
    grid-area: footer;
    color: white;
}
#aircraft_ops_need_output{
    text-align: center;
    font-size:75px;
}
#assigned_aircraft_output{
    text-align: center;
    font-size:75px;
}
#mc_aircraft_output{
    text-align: center;
    font-size:75px;
}
#aircraft_det_output{
    text-align: center;
    font-size:75px;

}
#aircraft_in_mx_out{
    text-align: center;
    font-size:75px;
}
/*</editor-fold> */

/*<editor-fold> Det Modal setting below*/

.bunodivDraggable{
    display: block;
    background-color: #404040;
    border: solid;
    border-color:#909090;
    height: 50px;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    text-align: center;
}

.modal{
    display: grid;
    width: 100%;
    height: 75%;
    z-index: 1;
}

.settingsModalGeneral{
    color: white;
    border: solid;
    border-color: white;

}
#settingsModal{
    display: none;
    background-color: #212121;
    grid-template-rows: 250px 100px 150px;
    grid-auto-columns: auto;
    grid-template-areas: "detSettings"
                        "bunoDroppable"
                        "bunoDraggables";

}
#detSettings{
    grid-area: detSettings;
    display: grid;
    grid-template-areas:" detStartDate detEndDate detLocation"
                        ". detName .";
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr 1fr 1fr;
}
#detStartDate{
    grid-area: detStartDate;
}
#detEndDate{
    grid-area: detEndDate;
}
#detLocation{
    grid-area: detLocation;
}
#detName{
    grid-area: detName;
}

#bunoDroppable{
    font-size: 16px;
    grid-area: bunoDroppable;
    text-align: center;
    /*background-color: grey;*/
}
#bunoDraggables{
    grid-area: bunoDraggables;
    display: flex;
    flex-direction: row;
    background-color: #212121;
}
.bunoDroppableHighlight{
    background-color: #424242;
    opacity: .5;
    border: solid;
}
#draggableBunoLabel{
    background-color: #212121;
    font-size: 15px;
    color: white;

}

/*</editor-fold> */

/*<editor-fold> This is the portion for the ops calendar*/
#opsCalendar{
    display: flex;
    flex-direction: row;
    color: white;
    overflow-x: scroll;
}






#settingsBtn{
    grid-area: createDetachment;
}

#finished{
    grid-area: finished;
}
#showOpsCalendar{
    grid-area: showOpsCalendar;
}

#hideOpsCalendar{
    grid-area: closeOpsCalendar;
}


#contextMenu{
    display: none;
    position: absolute;
    border: 1px solid black;
    border-radius: 3px;
    width: 200px;
    background: white;
    box-shadow: 10px 10px 5px #888888;
}